*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pt-5{
    padding-top:50px
}

.navbar{
    max-width: 1320px;
    display: flex;
    margin: auto;
    padding: 20px;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius:10px;

position: sticky;
top: 0px;
}

.navbar > div{

}
.nav{
    display: flex;
    justify-content: end;
    gap: 25px;
}

.container{
    border: 1px solid red;
    max-width: 1320px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.w-4{
    width: 25%;
    border: 1px solid green;


}
.box{
    height: 200px;
}

.w-4:first-child .box{
    background-color: green;
}
.w-4:nth-child(2) .box{
    background-color: orange;
}

.w-4:nth-child(3) .box{
    background-color: red;
}

.w-4:last-child .box{
    background-color: black;
}

.logo{
    width: 200px;
}

.nav{
    width: 100%
}
.menu{
    width: 50px;
}